@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
  }

  body {
    overscroll-behavior: none;
  }

  /* 스크롤바 스타일 */
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 9999px;
  }
}
